body {
    background-color: #7a7e91;
}

#container {
    background-color: #7a7e91;
    background-color: ;
    width: 1200px;
    margin: 20px auto;
    border: 2-x solid black;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 650px;
}

nav {
    text-align: center;
    margin: 40px 0;

}

nav a {
    font-size: 24px;
    color: black;
    margin: 0 20 px;
    font-weight: bold;
}

nav a: hover {
    text-decoration: none;
}

h1,
h2,
h3, 
footer {
    text-align: center;
}